[submodule "base/wavefront-proxy-exporter"]
	path = base/wavefront-proxy-exporter
	url = https://github.com/making/wavefront-proxy-exporter.git
[submodule "base/kube-prometheus"]
	path = base/kube-prometheus
	url = https://github.com/coreos/kube-prometheus.git
